Source: test
Section: unknown
Priority: extra
Maintainer: Timotheus Pokorra <timotheus.pokorra@solidcharity.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.solidcharity.com

Package: test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: test package for LBS
